@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: black;
    background: #f3edf7;
    background-image: url('/bg.svg');
        background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@supports (overflow-y: overlay) {
    html {
        overflow-y: overlay;
        scrollbar-gutter: auto;
    }
}
